@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plan your trip</h1>
    <p class="lead">This is the web sites in 2 sentences : what we can do.</p>
    <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>